.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.75rem 1.5rem 0;
}

@media screen and (min-width: 744px) {
  .header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (min-width: 950px) {
  .header {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1028px) {
  .header {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
