.indicatorContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
}

.indicator {
  width: 0.8rem;
  aspect-ratio: 1 / 1;

  background-color: gray;

  border-radius: 50%;
}

.activeIndicator {
  transform: scale(1.2);
  background-color: lightgray;
}
